<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobiani</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <router-link to="/items">Items</router-link>
    <router-link id="new-item" to="/new">New item</router-link>
    <router-view></router-view>
</div>
</body>
<script type="text/javascript">
    const Items = {
        template: '<div class="items"><div v-for="(item, idx) in items" v-bind:key="item.id" class="item">' +
            '        <span class="slug">{{ item.slug }}</span>' +
            '        <span class="stock-level">{{ item.stockLevel }}</span>' +
            '        <input name="count" type="number" v-model.number="item.increaseBy"/>' +
            '        <button class="add-to-stock" v-on:click="addToStock(item)">Add to stock</button>' +
            '        <button class="delete" v-on:click="deleteItem(item, idx)">Delete</button>' +
            '    </div></div>',
        data() {
            return {
                items: []
            }
        },
        mounted() {
            axios.get('/api/inventory-items')
                .then(r => {
                    this.items = r.data;
                })
        },
        methods: {
            addToStock(item) {
                axios.post(`/api/inventory-items/${item.id}/stock`, {count: item.increaseBy})
                    .then(r => {
                        console.log(r);
                        item.stockLevel += item.increaseBy;
                        item.increaseBy = null;
                    })
            },
            deleteItem(item, idx) {
                axios.delete(`/api/inventory-items/${item.id}`)
                    .then(r => {
                        console.log(r);
                        this.items.splice(idx, 1);
                    });
            }
        }
    };

    const NewItem = {
        template: '<div><input type="text" class="slug" v-model="slug"/>' +
            '<button class="add" v-on:click="addItem">Add</button></div>',
        data() {
            return {
                slug: null
            }
        },
        methods: {
            addItem() {
                axios.post('/api/inventory-items', {slug: this.slug})
                    .then(r => {
                        console.log(r);
                        this.slug = null;
                        router.push('items');
                    });
            },
        }
    };

    const routes = [
        {path: '/new', component: NewItem},
        {path: '/items', component: Items}
    ];

    const router = new VueRouter({
        routes
    });

    const app = new Vue({
        router
    }).$mount('#app');
</script>
</html>
