<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory items</title>
</head>
<body>
<a id="new-item" th:href="@{/inventory-items/new}">New item</a>
<div class="items">
    <form method="post" th:action="@{/inventory-items/{id}/stock(id=${it.id})}" class="item" th:each="it : ${items}">
        <span th:text="${it.slug}" class="slug"></span>
        <span th:text="${it.stockLevel}" class="stock-level"></span>
        <input type="number" name="count"/>
        <input type="submit" class="add-to-stock" value="Add to stock"/>
        <a th:href="@{/inventory-items/delete(id=${it.id})}" class="delete">Delete</a>
    </form>
</div>
</body>
</html>
